html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #121213;
  font-family: "Clear Sans", Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
}

img {
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  html, body {
    font-size: 1.4rem;
  }
}

@media screen and (max-height: 576px) {
  #main-content {
    transform: translateY(0%) !important;
  }
}

@media screen and (max-height: 425px) {
  html, body {
    font-size: 1.4rem;
  }
}

@keyframes flipper {
  0% {
      transform: rotateX(-180deg);
  }
  30% {
    transform: rotateX(-270deg);
    background-color: #121213;
    color: transparent;
  }
  60% {
    transform: rotateX(-360deg);
    background-color: #538d4e;
    color: #fff;
  }
  100% {
    transform: rotateX(-360deg);
    background-color: #538d4e;
    color: #fff;
  }
}

@keyframes bouncer {
  0% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-50%);
  }
  66% {
    transform: translateY(20%);
  }
  80% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0%);
  }

}

.active {
  background-color: #538d4e !important;
  color: #fff !important;
  animation-name: bouncer !important;
  animation-timing-function: ease-out !important;
}

* {
  box-sizing: border-box;
}
